.flex-container {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 20px;
}

.flex-item {
  border-radius: 12px;
  background-color: aquamarine;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}
