* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SongamLeeHyeongSik";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2604-1@1.0/SongamIhyeongsik-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "BonmyeongjoSourceHanSerif";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "GowoonDodum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: rgb(38, 38, 143);
  height: 80px;
}

.header-title {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: "SongamLeeHyeongSik";
  font-size: 50px;
}

main {
  margin: 10px;
  flex: 1;
  font-family: "GowoonDodum";
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
  align-items: start;
  padding: 5px;
}

.card-item {
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  border: #c5a059 ridge 10px;
  height: auto;
  width: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}

.img-frame {
  margin: 10px;
  padding: 1px;
  width: calc(100% - 20px);
}

.img {
  border: #333 solid 5px;
  padding: 15px;
  background-color: #fcfcfc;
  max-width: 100%;
  height: auto;
  display: block;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-name {
  border: black solid 2px;
  border-radius: 10px;
  margin: 5px;
  font-size: 20px;
  padding: 5px;
  background-color: white;
  font-family: "BonmyeongjoSourceHanSerif";
}

.footer-grid {
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

p {
  color: white;
}
@media (max-width: 700px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
